# --- Web Framework & Server ---
fastapi
uvicorn[standard]
jinja2
python-multipart
gunicorn
itsdangerous
websockets
pandas
# --- AI & LLM Services ---
groq
requests

# --- Language & Translation ---
deep-translator
langdetect

# --- Speech Recognition (Offline) ---
vosk

# --- Authentication & Security ---
passlib[bcrypt]
bcrypt

# --- Utilities ---
typing-extensions
# torch
# torchvision
# torchaudio(for deployment purpose)
transformers
