<div id="mySidepanel">
    <span class="sidebar-close" id="closeSidebar">✕</span>
  
    <a href="/" class="logout-link">Home</a>
    
    {% if user %}
        {% if user.role == 'teacher' %}
            <a href="/teacher" class="logout-link">Dashboard</a>
        {% elif user.role == 'crp' %}
            <a href="/crp" class="logout-link">CRP Dashboard</a>
        {% elif user.role == 'brp' %}
            <a href="/brp" class="logout-link">BRP Dashboard</a>
        {% elif user.role == 'arp' %}
            <a href="/arp" class="logout-link">ARP Dashboard</a>
        {% endif %}
        
        <a href="/profile" class="logout-link">My Profile</a>
        <a href="/logout" class="logout-link">Logout</a>
    {% else %}
        <a href="/login" class="logout-link">Login</a>
        <a href="/register" class="logout-link">Sign Up</a>
    {% endif %}
</div>