* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background:#ffffff !important;
  color: #056b64;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-wrapper{
    flex:1;
}


