/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


body {
  min-height: 100vh;
  background: linear-gradient(160deg, #EDF5E1, #c5f8d9);
  color: #05386B;
    max-width: 100%;

}



nav {
  width: 100%;
  background: #05386B;
  color: #EDF5E1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1003;
  height: 50px;
}

nav .logo {
  font-size: 20px;
  font-weight: 600;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #EDF5E1;
  padding: 10px 15px;
  position: relative;
  z-index: 1004;
}


#mySidepanel .logout-link {
     font-weight: 600;
  margin-top: 30px;
  color: black;
  font-size: medium;
    text-align: center;
 font-size: 20px;
}

#mySidepanel .logout-link:hover {
  background: #05386B
}
.logo {
    font-family: 'Courgette', cursive !important;
        font-size: 36px;
    font-weight: 400 !important;
        letter-spacing: 1px; 
    color: #ffffff;
        text-transform: none !important; 
    
    display: inline-block;
    line-height: 1.2;
}


#mySidepanel {
  width: 0;
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.45s ease;
  padding-top: 80px;
  height: calc(100vh - 90px);
  background: linear-gradient(
    160deg,
    rgba(255,255,255,0.65),
    rgba(255,255,255,0.65),
    rgba(255,255,255,0.65),
  );
  backdrop-filter: blur(20px) saturate(150%);
  border-left: 1.5px solid rgba(255,255,255,0.7);
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

#mySidepanel::before {
  content: "";
  position: absolute;
  inset: 0;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.35),
    transparent 40%
  );
  pointer-events: none;

}

#mySidepanel a {
  display: block;
  padding: 14px 28px;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  pointer-events: auto;

}

/* hover */
#mySidepanel a:hover {
  background: rgba(255,255,255,0.25);
}

#mySidepanel a.active {
  background: rgba(60, 160, 140, 0.75);
}

#mySidepanel.open {
  width: 200px !important;
}
#mySidepanel .sidebar-close {
  position: absolute;
  top: 12px;
  right: 14px;
  font-size: 26px;
  font-weight: 700;
  color: #05386B;
  cursor: pointer;
  line-height: 1;
}